@namespace NeoAdmin.Blazor.Components
@inherits LayoutComponentBase
@using NeoUI.Blazor.Primitives.Services

<AppProvider>
    <div class="flex h-full min-h-dvh w-full flex-col overflow-hidden">
        <main class="flex min-h-0 flex-1 items-center justify-center overflow-auto">
            <section class="flex w-full flex-col items-center justify-center p-4 md:p-6">
                @Body
            </section>
        </main>
    </div>

    <ToastViewport Position="ToastPosition.TopRight" />
    <DialogHost />
    <NeoPickerOverlayHost />
    <ContainerPortalHost />
    <OverlayPortalHost />
</AppProvider>
